# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: "cirun-gpu-runner--${{ github.run_id }}"
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    # - name: Set up GCC
    #   run: sudo apt update && sudo apt install -y build-essential

    - name: cuda-toolkit
      uses: Jimver/cuda-toolkit@v0.2.8
      
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
    
    - name: Run
      run: go run main.go
